html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(white, lightskyblue);
}



body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.container {
    display: flex;
    height: 100%;
    width: 200px;
    margin-left: 100px;
}


.dropdown-content {
    display: none;
    background-color: #5f515177;
}

    .dropdown-content a {
        padding: 10px 20px;
        text-decoration: none;
        font-size: 16px;
        color: white;
        display: block;
    }

.content {
    padding: 20px;
    background-color: #D2B48C;
}

    .content h1 {
        color: #333;
        font-size: 24px;
        font-weight: bold;
        margin-top: 0;
    }

.table {
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
    border: 0;
    padding: 0;
}

.td-izq {
    text-align: left;
    padding: 30px 100px 30px 0px;
}

.td-der {
    text-align: right;
    padding: 30px 0px 30px 100px;
}

.a {
    margin-right: 100px;
}

#formulario {
    display: none;
}

h3 {
    cursor: pointer;
    color: blue;
    display: flex;
    align-items: center;
}


#flecha {
    font-size: 20px;
    margin-right: 10px;
    transition: transform 0.2s;
}


#formularioExpandido #flecha {
    transform: rotate(90deg);
}


input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    
}

    input[type="text"]:focus {
        border-color: #0e3e6e;
        box-shadow: 0 0 5px rgba(0, 102, 204, 0.5);
    }

}
.custom-modal {
    background: rgba(0, 0, 0, 0.5);*/ /* Ajusta la opacidad del fondo */
}

.modal-xl {
    max-width: 100%;  Puedes ajustar el ancho del modal según lo necesites 
}

.custom-modal .modal-dialog {
    max-width: 90%;  Puedes ajustar el ancho máximo del modal según lo necesites 
    margin: 1rem auto;  Centrar el modal en la pantalla 
}

.client-container {
    padding: 20px;  Ajusta el relleno dentro del contenedor 
}

    .client-container .header-cell,
    .client-container .data-cell,
    .client-container .btn {
        margin-bottom: 10px;  Espaciado entre elementos 
    }

    .client-container .header-row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;  Línea separadora entre encabezados y datos 
    }

.client-container {
    display: flex;
    flex-direction: column;
}

.client-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;  Línea separadora entre filas 
}

.client-cell {
    flex: 1;
    padding: 0 10px;
}


body {
    background-color: #D6EAF8; /* Color de fondo celeste suave */
    margin: 0; /* Elimina el margen predeterminado del body */
    padding: 0; /* Elimina el relleno predeterminado del body */
}

/* Estilos generales para el comprobante */
.comprobante {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el encabezado */
.encabezado {
    background-color: #d2b48c; /* Color marrón suave */
    padding: 20px;
    display: flex;
    align-items: center;
}

/* Estilos para el logo en el encabezado */
.logo img {
    max-width: 50px; /* Ajusta el tamaño del logo según tus necesidades */
    height: auto;
}

/* Estilos para las secciones en el encabezado */
.seccion {
    margin: 0 20px;
}

    .seccion a {
        text-decoration: none;
        color: #fff; /* Color de texto en las secciones del encabezado */
        font-size: 18px;
        font-weight: bold;
    }

        .seccion a:hover {
            text-decoration: underline;
        }


.logo-abajo img {
    margin: 20px auto; /* Centrar la imagen horizontalmente con margen superior e inferior */
    margin-left: 180px;
    transform: scale(2.7); /* Escala la imagen al doble del tamaño original */
    transform-origin: 0 0; /* Cambia el punto de origen de la transformación al extremo superior izquierdo */
}

/* Estilos para la sección "Nota de pedido" en el encabezado */
.nota-pedido {
    text-align: right;
    margin-top: -90px; /* Ajusta el margen superior para moverlo hacia arriba */
    margin-right: 140px; /* Ajusta el margen derecho para moverlo hacia la derecha */
}

    .nota-pedido h1 {
        font-size: 50px;
        margin: 10px;
    }

    .nota-pedido p {
        font-size: 40px;
        margin: 0;
    }

.numero-pedido {
    font-weight: bold;
    color: red; /* Color de los números */
    margin-right: 70px;
}

.tablaCliente {
    margin-left: 70px;
    margin-top: 30px;
    border-collapse: separate; /* Para que los bordes de las celdas no se fusionen */
    border-spacing: 15px; /* Ajusta el espacio vertical entre las celdas según tus necesidades */
     
}

.tablaEmpleado {
    margin-left: 70px;
    margin-top: -30px;
    border-collapse: separate; /* Para que los bordes de las celdas no se fusionen */
    border-spacing: 15px; /* Ajusta el espacio vertical entre las celdas según tus necesidades */
   
}

.tablaFecha {
    margin-left: 750px;
    margin-top: -450px;
    border-collapse: separate; /* Para que los bordes de las celdas no se fusionen */
    border-spacing: 15px; /* Ajusta el espacio vertical entre las celdas según tus necesidades */
}

.tablaLlegada {
    margin-left: 750px;
    margin-top: 5px;
    border-collapse: separate; /* Para que los bordes de las celdas no se fusionen */
    border-spacing: 15px; /* Ajusta el espacio vertical entre las celdas según tus necesidades */
}

.tablaProductoG {
    margin-left: 1270px;
    border-collapse: separate; /* Separa los bordes de las celdas */
    border-spacing: 10px;
    margin-top: -520px;
}



.tablatotal {
    margin-left: 1270px;
    border-collapse: separate; /* Para que los bordes de las celdas no se fusionen */
    border-spacing: 15px; /* Ajusta el espacio vertical entre las celdas según tus necesidades */
    margin-top:-440px;
}


.botonadd {
    margin-left: 1200px;
    margin-top: -100px;
}


.modal-body.custom {
    height: 600px;
    overflow-y: auto;
}

.letra {
    font-family: "Arial", sans-serif; /* Cambia "Georgia" a la fuente que prefieras */
    font-size: 20px; /* Ajusta el tamaño de la fuente según tus preferencias */
    /* Otros estilos de texto opcionales */
    font-weight: 550; /* Grosor de la fuente (400 es normal) */
    color: #333; /* Color del texto */
    text-decoration: none; /* Decoración del texto (en este caso, ninguna) */
    /* Puedes agregar más propiedades según tus preferencias */
}

.spancliente {
    color: black; /* Cambia el color según tus preferencias */
    font-weight: bold; /* Cambia el estilo de fuente según tus preferencias */
    margin-left: 10px; /* Ajusta la distancia entre el texto y el span según tus necesidades */
    padding: 5px; /* Ajusta el espacio dentro del cuadro blanco */
    background-color: white; /* Establece el fondo en blanco */
    border: 1px solid black; /* Agrega un borde al cuadro */
    border-radius: 30px; /* Controla la redondez de las esquinas del borde */
  
}

.spanchofer {
    color: black; /* Cambia el color según tus preferencias */
    font-weight: bold; /* Cambia el estilo de fuente según tus preferencias */
    margin-left: 10px; /* Ajusta la distancia entre el texto y el span según tus necesidades */
    padding: 5px; /* Ajusta el espacio dentro del cuadro blanco */
    background-color: white; /* Establece el fondo en blanco */
    border: 1px solid black; /* Agrega un borde al cuadro */
    border-radius: 30px; /* Controla la redondez de las esquinas del borde */
}

.spanoperario {
    color: black; /* Cambia el color según tus preferencias */
    font-weight: bold; /* Cambia el estilo de fuente según tus preferencias */
    margin-left: 10px; /* Ajusta la distancia entre el texto y el span según tus necesidades */
    padding: 5px; /* Ajusta el espacio dentro del cuadro blanco */
    background-color: white; /* Establece el fondo en blanco */
    border: 1px solid black; /* Agrega un borde al cuadro */
    border-radius: 30px; /* Controla la redondez de las esquinas del borde */
}
.spanautorizador{
    color: black; /* Cambia el color según tus preferencias */
    font-weight: bold; /* Cambia el estilo de fuente según tus preferencias */
    margin-left: 10px; /* Ajusta la distancia entre el texto y el span según tus necesidades */
    padding: 5px; /* Ajusta el espacio dentro del cuadro blanco */
    background-color: white; /* Establece el fondo en blanco */
    border: 1px solid black; /* Agrega un borde al cuadro */
    border-radius: 30px; /* Controla la redondez de las esquinas del borde */
}

.spandireccion {
    color: black; /* Cambia el color según tus preferencias */
    font-weight: bold; /* Cambia el estilo de fuente según tus preferencias */
    margin-left: 10px; /* Ajusta la distancia entre el texto y el span según tus necesidades */
    padding: 5px; /* Ajusta el espacio dentro del cuadro blanco */
    background-color: white; /* Establece el fondo en blanco */
    border: 1px solid black; /* Agrega un borde al cuadro */
    border-radius: 30px; /* Controla la redondez de las esquinas del borde */
    padding: 5px 80px;
}


.spantelefono {
    color: black; /* Cambia el color según tus preferencias */
    font-weight: bold; /* Cambia el estilo de fuente según tus preferencias */
    margin-left: 10px; /* Ajusta la distancia entre el texto y el span según tus necesidades */
    padding: 5px; /* Ajusta el espacio dentro del cuadro blanco */
    background-color: white; /* Establece el fondo en blanco */
    border: 1px solid black; /* Agrega un borde al cuadro */
    border-radius: 30px; /* Controla la redondez de las esquinas del borde */
    padding: 5px 80px;
}

.spanllegada {
    color: black; /* Cambia el color según tus preferencias */
    font-weight: bold; /* Cambia el estilo de fuente según tus preferencias */
    margin-left: 10px; /* Ajusta la distancia entre el texto y el span según tus necesidades */
    padding: 5px; /* Ajusta el espacio dentro del cuadro blanco */
    background-color: white; /* Establece el fondo en blanco */
    border: 1px solid black; /* Agrega un borde al cuadro */
    border-radius: 30px; /* Controla la redondez de las esquinas del borde */
    padding: 5px 80px;
}

.spandestino {
    color: black; /* Cambia el color según tus preferencias */
    font-weight: bold; /* Cambia el estilo de fuente según tus preferencias */
    margin-left: 10px; /* Ajusta la distancia entre el texto y el span según tus necesidades */
    padding: 5px; /* Ajusta el espacio dentro del cuadro blanco */
    background-color: white; /* Establece el fondo en blanco */
    border: 1px solid black; /* Agrega un borde al cuadro */
    border-radius: 30px; /* Controla la redondez de las esquinas del borde */
    padding: 5px 80px;
}

.spanproducto {
    color: black; /* Cambia el color según tus preferencias */
    font-weight: bold; /* Cambia el estilo de fuente según tus preferencias */
    margin-left: 10px; /* Ajusta la distancia entre el texto y el span según tus necesidades */
    padding: 5px; /* Ajusta el espacio dentro del cuadro blanco */
    background-color: white; /* Establece el fondo en blanco */
    border: 1px solid black; /* Agrega un borde al cuadro */
    border-radius: 30px; /* Controla la redondez de las esquinas del borde */
    padding: 5px 80px;
}

.equis {
    display: inline-block; /* Cambia a "inline-block" para que el fondo se aplique correctamente */
    width: 24px; /* Ancho del círculo */
    height: 24px; /* Alto del círculo */
    text-align: center; /* Centra el contenido en el círculo */
    line-height: 24px; /* Centra verticalmente el contenido en el círculo */
    background-color: white; /* Color de fondo del círculo */
    color: red; /* Color del texto "X" */
    border-radius: 50%; /* Hace que el fondo sea un círculo */
    border: 1px solid red; /* Agrega un borde al círculo */
}




.equischofer {
    display: inline-block; /* Cambia a "inline-block" para que el fondo se aplique correctamente */
    width: 24px; /* Ancho del círculo */
    height: 24px; /* Alto del círculo */
    text-align: center; /* Centra el contenido en el círculo */
    line-height: 24px; /* Centra verticalmente el contenido en el círculo */
    background-color: white; /* Color de fondo del círculo */
    color: red; /* Color del texto "X" */
    border-radius: 50%; /* Hace que el fondo sea un círculo */
    border: 1px solid red; /* Agrega un borde al círculo */
}

.equisoperario {
    display: inline-block; /* Cambia a "inline-block" para que el fondo se aplique correctamente */
    width: 24px; /* Ancho del círculo */
    height: 24px; /* Alto del círculo */
    text-align: center; /* Centra el contenido en el círculo */
    line-height: 24px; /* Centra verticalmente el contenido en el círculo */
    background-color: white; /* Color de fondo del círculo */
    color: red; /* Color del texto "X" */
    border-radius: 50%; /* Hace que el fondo sea un círculo */
    border: 1px solid red; /* Agrega un borde al círculo */
}

.equisautorizador {
    display: inline-block; /* Cambia a "inline-block" para que el fondo se aplique correctamente */
    width: 24px; /* Ancho del círculo */
    height: 24px; /* Alto del círculo */
    text-align: center; /* Centra el contenido en el círculo */
    line-height: 24px; /* Centra verticalmente el contenido en el círculo */
    background-color: white; /* Color de fondo del círculo */
    color: red; /* Color del texto "X" */
    border-radius: 50%; /* Hace que el fondo sea un círculo */
    border: 1px solid red; /* Agrega un borde al círculo */
}

.equisllegada {
    display: inline-block; /* Cambia a "inline-block" para que el fondo se aplique correctamente */
    width: 24px; /* Ancho del círculo */
    height: 24px; /* Alto del círculo */
    text-align: center; /* Centra el contenido en el círculo */
    line-height: 24px; /* Centra verticalmente el contenido en el círculo */
    background-color: white; /* Color de fondo del círculo */
    color: red; /* Color del texto "X" */
    border-radius: 50%; /* Hace que el fondo sea un círculo */
    border: 1px solid red; /* Agrega un borde al círculo */
}

.equisdestino {
    display: inline-block; /* Cambia a "inline-block" para que el fondo se aplique correctamente */
    width: 24px; /* Ancho del círculo */
    height: 24px; /* Alto del círculo */
    text-align: center; /* Centra el contenido en el círculo */
    line-height: 24px; /* Centra verticalmente el contenido en el círculo */
    background-color: white; /* Color de fondo del círculo */
    color: red; /* Color del texto "X" */
    border-radius: 50%; /* Hace que el fondo sea un círculo */
    border: 1px solid red; /* Agrega un borde al círculo */
}

.equisproducto {
    display: inline-block; /* Cambia a "inline-block" para que el fondo se aplique correctamente */
    width: 24px; /* Ancho del círculo */
    height: 24px; /* Alto del círculo */
    text-align: center; /* Centra el contenido en el círculo */
    line-height: 24px; /* Centra verticalmente el contenido en el círculo */
    background-color: white; /* Color de fondo del círculo */
    color: red; /* Color del texto "X" */
    border-radius: 50%; /* Hace que el fondo sea un círculo */
    border: 1px solid red; /* Agrega un borde al círculo */
}
/*//botones*/

#guardar {
    color: white; /* Color del texto del botón */
    padding: 15px 30px; /* Aumenta el tamaño del botón */
    font-size: 24px; /* Aumenta el tamaño de la letra */
    border: none; /* Elimina el borde */
    border-radius: 5px; /* Agrega bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón sobre el botón */
    width: 200px;
    margin-left: 370px;
    margin-top: 2px;
    background-color: #4EB2D8; /* Cambiar el color de fondo a celeste suave */
}

#guardarycerrar {
    background-color: #0074d9;
    color: white; /* Color del texto del botón */
    padding: 15px 30px; /* Aumenta el tamaño del botón */
    font-size: 24px; /* Aumenta el tamaño de la letra */
    border: none; /* Elimina el borde */
    border-radius: 5px; /* Agrega bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón sobre el botón */
    margin-left: 70px;
    width: 285px;
    margin-top: 1px;
}

#cancelar {
    background-color: red;
    color: white; /* Color del texto del botón */
    padding: 20px 80px; /* Aumenta el tamaño del botón */
    font-size: 24px; /* Aumenta el tamaño de la letra */
    border: none; /* Elimina el borde */
    border-radius: 5px; /* Agrega bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón sobre el botón */
    margin-left: 75px;
    margin-top: 1px;
}

/*/////////////////*/

.calendar {
    border: 2px solid #3498db; /* Color del borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px; /* Espacio interno */
    font-size: 16px; /* Tamaño de fuente */
    background-color: #f2f2f2; /* Color de fondo */
    color: #333; /* Color del texto */
}

.calendar::placeholder {
    color: #999; /* Color del texto de marcador de posición */
}

.calendar:focus {
    outline: none; /* Eliminar el resaltado predeterminado al enfocar el input */
    border: 2px solid #3498db; /* Cambiar el color del borde al enfocar */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* Agregar sombra al enfocar */
}

.botonadd {
    color: white; /* Color del texto del botón */
    padding: 15px 30px; /* Aumenta el tamaño del botón */
    font-size: 24px; /* Aumenta el tamaño de la letra */
    border: none; /* Elimina el borde */
    border-radius: 5px; /* Agrega bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón sobre el botón */
    width: 200px;
    margin-left: 370px;
    margin-top: -302px;
    background-color: #2196f391; /* Cambiar el color de fondo a celeste suave */
}

/*.botondelete {
    color: white;*/ /* Color del texto del botón */
    /*padding: 15px 30px;*/ /* Aumenta el tamaño del botón */
    /*font-size: 24px;*/ /* Aumenta el tamaño de la letra */
    /*border: none;*/ /* Elimina el borde */
    /*border-radius: 5px;*/ /* Agrega bordes redondeados */
    /*cursor: pointer;*/ /* Cambia el cursor al pasar el ratón sobre el botón */
    /*width: 200px;
    margin-left: 600px;
    margin-top: -300px;
    background-color: #f3212187;
}*/

#tablageneral{
    width:1400px;
    margin-left:200px;
}

#check{
    margin-left:350px;
    margin-top: 50px
}

.cajacentrada {
    margin-left: 5%;
    margin-right: 5%;
}
