@model Maderera_Aplicacion_Web.Models.Pret33Prestamo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pret33Prestamo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPrestamo" />
            <div class="form-group">
                <label asp-for="IdEmpleado" class="control-label"></label>
                <select asp-for="IdEmpleado" class="form-control" asp-items="ViewBag.IdEmpleado"></select>
                <span asp-validation-for="IdEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAutorizador" class="control-label"></label>
                <select asp-for="IdAutorizador" class="form-control" asp-items="ViewBag.IdAutorizador"></select>
                <span asp-validation-for="IdAutorizador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoTotal" class="control-label"></label>
                <input asp-for="MontoTotal" class="form-control" />
                <span asp-validation-for="MontoTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoPrestamo" class="control-label"></label>
                <select asp-for="IdTipoPrestamo" class="form-control" asp-items="ViewBag.IdTipoPrestamo"></select>
                <span asp-validation-for="IdTipoPrestamo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TxtObservacion" class="control-label"></label>
                <input asp-for="TxtObservacion" class="form-control" />
                <span asp-validation-for="TxtObservacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaAprobPrestamo" class="control-label"></label>
                <input asp-for="FechaAprobPrestamo" class="form-control" />
                <span asp-validation-for="FechaAprobPrestamo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plazo" class="control-label"></label>
                <input asp-for="Plazo" class="form-control" />
                <span asp-validation-for="Plazo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaVtoProg" class="control-label"></label>
                <input asp-for="FechaVtoProg" class="form-control" />
                <span asp-validation-for="FechaVtoProg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NroCuotasGracia" class="control-label"></label>
                <input asp-for="NroCuotasGracia" class="form-control" />
                <span asp-validation-for="NroCuotasGracia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoPlazo" class="control-label"></label>
                <select asp-for="IdTipoPlazo" class="form-control" asp-items="ViewBag.IdTipoPlazo"></select>
                <span asp-validation-for="IdTipoPlazo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post" class="control-label"></label>
                <input asp-for="Post" class="form-control" />
                <span asp-validation-for="Post" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMotivo" class="control-label"></label>
                <select asp-for="IdMotivo" class="form-control" asp-items="ViewBag.IdMotivo"></select>
                <span asp-validation-for="IdMotivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuotaDoble" class="control-label"></label>
                <input asp-for="CuotaDoble" class="form-control" />
                <span asp-validation-for="CuotaDoble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoTea" class="control-label"></label>
                <input asp-for="MontoTea" class="form-control" />
                <span asp-validation-for="MontoTea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoTcea" class="control-label"></label>
                <input asp-for="MontoTcea" class="form-control" />
                <span asp-validation-for="MontoTcea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDesembolso" class="control-label"></label>
                <input asp-for="FechaDesembolso" class="form-control" />
                <span asp-validation-for="FechaDesembolso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaPrimPago" class="control-label"></label>
                <input asp-for="FechaPrimPago" class="form-control" />
                <span asp-validation-for="FechaPrimPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comisiones" class="control-label"></label>
                <input asp-for="Comisiones" class="form-control" />
                <span asp-validation-for="Comisiones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstado" class="control-label"></label>
                <input asp-for="IdEstado" class="form-control" />
                <span asp-validation-for="IdEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TxtEstado" class="control-label"></label>
                <input asp-for="TxtEstado" class="form-control" />
                <span asp-validation-for="TxtEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TxtUsuario" class="control-label"></label>
                <input asp-for="TxtUsuario" class="form-control" />
                <span asp-validation-for="TxtUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuariomod" class="control-label"></label>
                <select asp-for="IdUsuariomod" class="form-control" asp-items="ViewBag.IdUsuariomod"></select>
                <span asp-validation-for="IdUsuariomod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TxtUsuariomod" class="control-label"></label>
                <input asp-for="TxtUsuariomod" class="form-control" />
                <span asp-validation-for="TxtUsuariomod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaModificacion" class="control-label"></label>
                <input asp-for="FechaModificacion" class="form-control" />
                <span asp-validation-for="FechaModificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
