@model Maderera_Aplicacion_Web.Models.Pret10Envio

@{
    <title>@ViewData["Title"] Jhyperionm</title>
}

<h1>Edit</h1>

<h4>Pret10Envio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEnvio" />
            <div class="form-group">
                <label asp-for="IdLocation" class="control-label"></label>
                <select asp-for="IdLocation" class="form-control" asp-items="ViewBag.IdLocation"></select>
                <span asp-validation-for="IdLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLocationTo" class="control-label"></label>
                <select asp-for="IdLocationTo" class="form-control" asp-items="ViewBag.IdLocationTo"></select>
                <span asp-validation-for="IdLocationTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NroEnvio" class="control-label"></label>
                <input asp-for="NroEnvio" class="form-control" />
                <span asp-validation-for="NroEnvio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TxtNro" class="control-label"></label>
                <input asp-for="TxtNro" class="form-control" />
                <span asp-validation-for="TxtNro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TxtSerie" class="control-label"></label>
                <input asp-for="TxtSerie" class="form-control" />
                <span asp-validation-for="TxtSerie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdExtraccion" class="control-label"></label>
                <select asp-for="IdExtraccion" class="form-control" asp-items="ViewBag.IdExtraccion"></select>
                <span asp-validation-for="IdExtraccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnvioCant" class="control-label"></label>
                <input asp-for="EnvioCant" class="form-control" />
                <span asp-validation-for="EnvioCant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEnvio" class="control-label"></label>
                <input asp-for="FechaEnvio" class="form-control" />
                <span asp-validation-for="FechaEnvio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstado" class="control-label"></label>
                <input asp-for="IdEstado" class="form-control" />
                <span asp-validation-for="IdEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TxtEstado" class="control-label"></label>
                <input asp-for="TxtEstado" class="form-control" />
                <span asp-validation-for="TxtEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuarioModificador" class="control-label"></label>
                <select asp-for="IdUsuarioModificador" class="form-control" asp-items="ViewBag.IdUsuarioModificador"></select>
                <span asp-validation-for="IdUsuarioModificador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TxtUsuario" class="control-label"></label>
                <input asp-for="TxtUsuario" class="form-control" />
                <span asp-validation-for="TxtUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TxtUsuarioModificador" class="control-label"></label>
                <input asp-for="TxtUsuarioModificador" class="form-control" />
                <span asp-validation-for="TxtUsuarioModificador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaModificacion" class="control-label"></label>
                <input asp-for="FechaModificacion" class="form-control" />
                <span asp-validation-for="FechaModificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
