<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/script.js"></script>
    <title>Boleta Compra</title>
</head>
<body>

    <img src="../img/madera.jpg" width="1370" height="60">
    <div class="container">

        <table class="table">
            <tr>
                <td class="td-der">N°&nbspComprobante:</td>
                <td class="td-izq"><input type="text"></td>
                <td class="td-der">Id&nbspCompra:</td>
                <td class="td-izq"><input type="text"></td>
            </tr>
            <tr>
                <td class="td-der">N°&nbspCheque:</td>
                <td class="td-izq"><input type="text"></td>
                <td class="td-der">Cliente:</td>
                <td class="td-izq">
                    <select id="clienteSelect" onchange="SelectChange(this,'modalcli')">
                        <option value="opcion1">Opción 1</option>
                        <option value="opcion2">Opción 2</option>
                        <option value="opcion3">Opción 3</option>
                        <option value="buscar">Buscar Cliente</option>
                    </select>
                </td>
                <div hidden id="modalcli" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeModal('clienteSelect','modalcli')">&times;</span>
                        <p>Cliente:</p>
                    </div>
                </div>
            </tr>
            <tr>
                <td class="td-der">Fecha&nbspde&nbspemisión:</td>
                <td class="td-izq"><input type="date"></td>
                <td class="td-der">Estado:</td>
                <td class="td-izq">
                    <select name="" id="">
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="td-der">Fecha&nbspde&nbspvencimiento:</td>
                <td class="td-izq"><input type="date"></td>
                <td class="td-der">Fecha&nbspde&nbspcancelación:</td>
                <td class="td-izq"><input type="date"></td>
            </tr>
            <tr>
                <td class="td-der">Chofer:</td>
                <td class="td-izq">
                    <select id="choferSelect" onchange="SelectChange(this,'modalcho')">
                        <option value="opcion1">Opción 1</option>
                        <option value="opcion2">Opción 2</option>
                        <option value="opcion3">Opción 3</option>
                        <option value="buscar">Buscar Chofer</option>
                    </select>
                </td>
                <div hidden id="modalcho" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeModal('choferSelect','modalcho')">&times;</span>
                        <p>Chofer:</p>
                    </div>
                </div>

                <td class="td-der">datoaparte:</td>
                <td class="td-izq"><input type="date"></td>
            </tr>
            <tr>

                <td colspan="4">

                    <h3 id="toggleForm">
                        <span id="flecha">&#9654;</span>
                        Formulario Extra
                    </h3>

                    <div id="formulario">


                        <label class="td-der" for="nombre">Descripción:</label>
                        <input class="td-izq" type="text" id="nombre" name="nombre" required>
                        <label class="td-der" for="email">Correo&nbspElectrónico:</label>
                        <input class="td-izq" type="email" id="email" name="email" required>



                    </div>
                </td>

            </tr>
            <tr>
            </tr>
        </table>


    </div>



    <script>
        const titulo = document.getElementById('toggleForm');
        const formulario = document.getElementById('formulario');
        const flecha = document.getElementById('flecha');

        titulo.addEventListener('click', () => {
            if (formulario.style.display === 'none') {
                formulario.style.display = 'block';
                flecha.style.transform = 'rotate(90deg)';
            } else {
                formulario.style.display = 'none';
                flecha.style.transform = 'rotate(0deg)';
            }
        });
    </script>

</body>
</html>
